
.title{
    margin-top: auto;
    padding: 2%;
    background-color: rgb(13, 94, 165);
    -webkit-text-fill-color: aliceblue;
}
.header{
    text-align: center;
}
.start-button   {

    margin-top: 10% !important;
    
    margin-left: 38% !important;
    
}
.cover{
    border: solid black;
    width: 25%;
    padding: 7% 1% 7% 1%;
    margin:auto;
    margin-top: 8%;
    border-radius: 15%;
    
}
.answer-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
