
.title{
    margin-top: auto;
    padding: 2%;
    background-color: rgb(13, 94, 165);
    -webkit-text-fill-color: aliceblue;
}
.header{
    text-align: center;
    
}
.start-button   {

    margin-top: 10% !important;
    
   margin-left: 23% !important;
   background-color: #5e69ff;
   color: #ffffff;
   padding: 2% 20% 2% 20%;
   border-radius: 20px;
   border : none;
    
}
.link{
  text-decoration:none;
  color:#030504;
  font-size: large;
  color:beige;
  font-family:Georgia, serif;
}
.start-cover{
  border: solid black;
  width: 25%;
  padding:10%;
  margin:auto;
  margin-top: 6%;
  border-radius: 50px;
  background-image: linear-gradient(75deg,#65dbff ,rgb(221, 169, 255));
}

.button{
 
  margin-left: 18% !important;
  background-image: linear-gradient(220deg,#5e69ff,rgb(189, 105, 223));
  color: #ffffff;
  padding: 7%25%7%25%;
  border-radius: 10px;
  border : none;
  
   
}

.cover{
    border: solid black;
    width: 25%;
    padding: 3% 10% 3% 10%;
    margin:auto;
    margin-top: 2%;
    border-radius: 50px;
    background-image: linear-gradient(75deg,#00b5fd ,white,rgb(159, 0, 180));
}
.answer-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin-top: 1%;    
  }
  .answer-question-text,
  .question-section{
    background-color: white;
    border-radius: 10px;
    padding:5% 10% 5% 10%;
  }
  .score-section{
    padding-left: 8%;
  }
  .unList{
    padding-left: 10%;
    padding-right: 10%;
   
  }

  .list{
    border: solid #030504;
    list-style-type: none;
    padding-left: 4%;
    border-radius: 50px;
    overflow: hidden;
  }
  
.confirm-btn1,
.confirm-btn2,
 .list:hover{
    cursor: pointer;
    background-color: #c2bfbf;
  }
.list:focus{
    background-color: red;
}

.ans{
  border: solid black;
  list-style-type: none;
  padding-left: 4%;
  background-color: rgb(14, 14, 175);
}
.count,
.question-text{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
}
.confirm-form{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top:15%;
  left:50%;
  transform: translate(-50%,-50%);
  background-image: linear-gradient(180deg,rgb(239, 241, 241),rgb(252, 252, 252),rgb(160, 160, 160)) ;
  flex-direction: column;
  padding: 2%;
  border-radius: 20px;
  border-color: white;
  animation: fadeIn 0.3s;
}
.confirm-btn1{
  background-color: #5e69ff;
  color: #ffffff;
  padding-left: 28%;
  padding-right: 30%;
  border-radius: 2px;
  border : none;
 margin-right: 2%;
  
}
.confirm-btn2{
  background-color: #5e69ff;
  color: #ffffff;
  padding-left: 30%;
  padding-right: 30%;
  border-radius: 2px;
  border : none;
  margin-left: 10%;
  
}
.btn{
  display: flex;
  align-items: center;
  padding-right: 22%;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}