
.title{
    margin-top: auto;
    padding: 2%;
    background-color: rgb(13, 94, 165);
    -webkit-text-fill-color: aliceblue;
}
.header{
    text-align: center;
}
.start-button   {

    margin-top: 10% !important;
    
    margin-left: 38% !important;
    
}
.cover{
    border: solid black;
    width: 25%;
    padding: 3% 10% 3% 10%;
    margin:auto;
    margin-top: 4%;
    border-radius: 15%;
    /* background-image: linear-gradient(rgb(187, 157, 94),white,pink); */
    background-color: aquamarine;
}
.answer-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* padding-right: 10%; */
  }
  .score-section{
    padding-left: 29%;
  }
  .unList{
    padding: 0%;
  }

  .list{
    border: solid black;
    list-style-type: none;
    padding-left: 4%;
  }

 .list:hover{
    cursor: pointer;
    background-color: #ffffff;
  }
.list:focus{
    background-color: red;
}
